body { min-height: 100vh; display: flex; flex-direction: column; background: #ECECEC; }

.header-right { display:flex; align-items:center; gap:30px; }

/* 네비게이션 */
.layout-header { height: 70px; background: #EDF4FF; border-bottom: 1px solid #A3C7FF; display: flex; align-items: center; justify-content: space-between; padding: 0 24px; }

/* 메인 */
.layout-main { flex: 1; display: flex; }

/* 네비게이션 */
.layout-nav { width: 220px; flex-shrink: 0; background: #fff; padding: 50px 12px; }
.layout-nav .nav-list { display: flex; flex-direction: column; gap: 8px; }
.layout-nav .nav-item { max-height:50px; border-radius: 12px; overflow: hidden; transition: all 0.2s; }
.layout-nav .nav-item svg { fill: #969696; }
.layout-nav .nav-item .stroke { stroke: #969696; }

.layout-nav .nav-item.on { max-height:1000px; }
.layout-nav .nav-item.on .nav-btn { background: #EDF4FF; color: #0056d9; }
.layout-nav .nav-item.on svg { fill: #0056d9; }
.layout-nav .nav-item.on .stroke { stroke: #0056d9; }
.layout-nav .nav-item:hover .nav-btn-label { color:#0056d9; }
.layout-nav .nav-item:hover svg { fill: #0056d9; }
.layout-nav .nav-item:hover .stroke { stroke: #0056d9; }

.layout-nav .nav-btn { width:100%; display: flex; align-items: center; gap: 12px; height: 50px; padding: 0 16px; border-radius: 12px; font-size: 18px; font-weight: bold; color: #969696; cursor: pointer; }
.layout-nav .nav-icon { position: relative; width: 25px; height: 25px; display: flex; justify-content: center; align-items: center; flex-shrink: 0; }
.layout-nav .nav-btn-label { font-size: 16px; font-weight:bold; }
.layout-nav .nav-sub { flex-direction: column; padding: 8px 0 8px 45px; }
.layout-nav .nav-sub .side-link { display: block; height: 46px; line-height: 46px; font-size: 16px; font-weight:bold; color: #969696; text-decoration: none; padding: 0 8px; cursor: pointer; }
.layout-nav .nav-sub .side-link.on { color: #0056d9; }
.layout-nav .nav-sub .side-link:hover { color: #0056d9; }
.layout-nav .nav-sub .side-link.active { color: #0056d9; }

/* 컨텐츠 */
.layout-content { flex: 1; min-width: 0; padding:40px; background: #f5f6fa; box-sizing: border-box; }
.layout-content.layout-content-aside { display:grid; grid-template-columns:minmax(0,1fr) 320px; gap:24px; align-items:start; }

.list-header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; }
.list-header .result-count { color:#121212; font-size:16px; }

.search-form { display:flex; justify-content:center; align-items:center; gap:10px; }
.search-form > .search-field { min-width:348px; height:46px; border: 1px solid #D4D4D4; border-radius:12px; display:flex; align-items:center; gap:10px; padding:0 24px; }
.search-form > .search-field input { flex:1; }
.search-form .search-btn { height:24px; height:24px; }
.search-form .search-field .jw-select>.jw-selected { border:0px; }
.search-form .search-field .jw-select>.jw-selected:hover, .grid-item .field-row .jw-select>.jw-selected.active { box-shadow: none; }
.search-form > .jw-select { height:46px; }
.search-form > .jw-select .jw-selected { border: 1px solid #D4D4D4; border-radius:12px; }
.search-form .travelStartDate { height:46px; border: 1px solid #D4D4D4; border-radius:12px; padding:0 16px; }

.page-title { margin-top: 20px; font-size: 32px; font-weight:bold; color: #121212; }
.card-panel { background: #fff; border-radius: 16px; padding: 32px; box-shadow: 0 0 20px rgba(198,198,198,0.18); }
.section-title { margin-top:32px; font-size:24px; font-weight:bold; }
.grid-wrap-title { font-size:20px; font-weight:bold; }

.page-toolbar { height:46px; display: flex; align-items: center; justify-content: space-between; gap: 12px; }
.page-toolbar .page-toolbar-actions { display: flex; align-items: center; gap: 8px; }
.page-toolbar .icon { flex: 0 0 auto; }

.layout-content.layout-content-aside .page-toolbar { grid-column : span 2; }

.controller { margin-top:44px; display:flex; justify-content:flex-end; align-items:center; gap:10px; }
.controller.jw-flex-s { justify-content:flex-start; }

.grid-wrap { display:grid; grid-template-columns:repeat(3, minmax(0, 1fr)); gap:16px; align-items:start; }
.grid-item { display:flex; flex-direction:column; gap:8px; }
.grid-item .label-name { color:#121212; font-size:16px; font-weight:bold; }
.grid-item input { height:46px; border-radius:10px; border: 1px solid #D4D4D4; padding:0 16px; }
.grid-item .field-row { border: 1px solid #D4D4D4; border-radius:10px; display:flex; align-items:center; gap:10px; }
.grid-item .field-row input { height:46px; border:0px; }
.grid-item .field-row .jw-select>.jw-selected { border:0px; }
.grid-item .field-row .jw-select>.jw-selected:hover, .grid-item .field-row .jw-select>.jw-selected.active { box-shadow: none; }
.grid-item.col-span-2 { grid-column:span 2 / span 2; }
.grid-item.col-span-3 { grid-column:span 3 / span 3; }
.grid-item .editor-box-wrap { border: 1px solid #D4D4D4; border-radius:12px; }
.grid-item .editor-box-wrap textarea { width:100%; height:100%; padding:16px; }
.grid-item .editor-box-wrap:has(textarea:disabled) { background:#F3F3F3; color:#969696; }


.grid-item .jw-select { height:46px; }
.grid-item .jw-selected { border: 1px solid #D4D4D4; border-radius:10px; }

.grid-item .input-box { position:relative; width:100%; border: 1px solid #D4D4D4; border-radius:10px; display:flex; align-items:center; padding-right:16px; }
.grid-item .input-box input { flex:1; height:46px; border:0px; }
.grid-item .input-box .jw-button { gap:5px; }

.grid-item .upload-grid { display:grid; grid-template-columns:repeat(auto-fill, 200px); gap:8px; align-items:stretch; }
.grid-item .upload-grid .upload-item { position:relative; aspect-ratio:1 / 1; background-image:linear-gradient(45deg, #f3f3f3 25%, transparent 25%), linear-gradient(-45deg, #f3f3f3 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #f3f3f3 75%), linear-gradient(-45deg, transparent 75%, #f3f3f3 75%); background-size:16px 16px; background-position:0 0, 0 8px, 8px -8px, -8px 0; overflow:hidden; }
.grid-item .upload-grid .upload-item:hover { border-color:#bfbfbf; }
.grid-item .upload-grid .preview { width:100%; height:100%; object-fit:cover; }

.grid-item .upload-grid .btn-upload { position:absolute; width:156px; height:44px; inset:0; margin:auto; display:flex; justify-content:center; align-items:center; padding:0 12px; border:1px solid #e0e0e0; border-radius:12px; background:#fff; font-size:14px; cursor:pointer; }
.grid-item .upload-grid .btn-upload:hover { border-color:#c8c8c8; }

.grid-item .upload-box > .thumb { width:110px; height:110px; background:#F3F3F3; }
.grid-item .upload-box .file-controller { margin-top:5px; display:flex; align-items:center;}
.grid-item .upload-box .thumb { display:inline-block; width:110px; height:110px; background:#F3F3F3; cursor:pointer; }
.grid-item .upload-box input[type='file'] { position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); white-space:nowrap; border:0; }

/* 업로드된 상태 */
.grid-item .upload-grid .upload-item.is-filled { background:#fff; }
.grid-item .upload-grid .upload-item.is-filled .btn-upload { inset:auto 8px 8px 8px 8px; height:32px; }

/* 프리뷰 이미지(선택) */
.grid-item .upload-grid .upload-item .preview { position:absolute; inset:0; width:100%; height:100%; object-fit:cover; border-radius:inherit; }

.grid-highlight { background:#F7FAFF; padding:14px; }

/* 스크롤 컨테이너 */
.tableA-scroll { width:100%; overflow-x:auto; overflow-y:hidden; -webkit-overflow-scrolling:touch; }


.calendar-row { display:grid; grid-template-columns:repeat(4, minmax(220px, 1fr)); gap:16px; align-items:start; }
.cal-month { padding:12px; border:1px solid #eee; border-radius:12px; background:#fff; }
.toolbar-divider{width:1px;height:18px;background:#ddd;margin:0 8px;}

.grid-panel { display:grid; grid-template-columns:repeat(4, 1fr); gap:24px; }
.grid-panel-card > .wrap { padding:12px; background:#fff; border-radius:12px; }
.grid-panel-card .gpc-item { display:flex; align-items:center; }

.gpc-head { height:50px; display:flex; align-items:center; justify-content:space-between; padding:0 16px;}
.gpc-head-actions { display:flex; align-items:center; }
.gpc-title { color:#121212; font-weight:bold; font-size:18px; }
.gpc-body { padding-left:32px; padding-right:16px; }
.gpc-foot { margin-top:24px; }
.gpc-item { height:50px; display:flex; align-items:center; justify-content:space-between; }
.gpc-item .category { display:flex; align-items:center; gap:10px; }
.gpc-item .actions { display:flex; align-items:center; }
.gpc-form { position:relative; height:46px; border-radius:12px; border: 1px solid #D4D4D4; margin-left:34px; }
.gpc-form input { width:100%; height:100%; }
.gpc-form button { position:absolute; right:10px; top:50%; transform:translateY(-50%); }

.content-aside { position:sticky; top:40px; align-self:start; padding:12px; padding-top:108px; }
.content-aside .aside-title { margin:4px 6px 10px; font-weight:700; font-size:16px; color:#111827; }
.content-aside .aside-group { display:flex; flex-direction:column; gap:8px; }
.content-aside .aside-item { width:100%; text-align:left; padding:10px 12px; border:1px solid #e5e7eb; border-radius:10px; background:#f9fafb; font-size:14px; cursor:pointer; }
.content-aside .aside-item:hover { background:#f3f4f6; }
.content-aside .aside-item.is-active { border-color:#1677ff; background:#eef5ff; color:#1677ff; }

.badge { position:relative; display:inline-block; --bgcolor:#D4E7FF; --color:#0065F8; --icon:#0065F8; height:26px; line-height:26px; padding:0 8px 0 26px; font-size:16px; font-weight:medium; border-radius:6px; background:var(--bgcolor); color:var(--color); }
.badge:before { content:""; position:absolute; left:8px; top:50%; width:8px; height:8px; margin-top:-4px; border-radius:50%; background:var(--icon); }

.badge-wait { --bgcolor:#D4E7FF; --color:#0065F8; --color:#0065F8; }  /* 선금 입금 대기 */
.badge-wait2 { --bgcolor:#D0F2DF; --color:#17884A; --color:#17884A; }  /* 잔금 입금 대기 */
.badge-confirm { --bgcolor:#FFE2BD; --color:#DB7A00; --color:#DB7A00; } /* 예약 확정 */
.badge-done { --bgcolor:#EAEAEA; --color:#4E4E4E; --color:#4E4E4E; }    /* 여행 완료 */
.badge-cancel { --bgcolor:#FFD6D6; --color:#ED1B23; --color:#ED1B23; }    /*  예약 취소 */
.badge-refund { --bgcolor:#DCE0F2; --color:#3C4A76; --color:#3C4A76; }    /* 환불 완료 */

.badge-blue { --bgcolor:#D4E7FF; --color:#0065F8; --icon:#0065F8;} /* 입금 대기 */
.badge-green { --bgcolor:#D0F2DF; --color:#17884A; --color:#17884A; } /*  */
.badge-orange { --bgcolor:#FFE2BD; --color:#DB7A00; --icon:#FF9800; } /* 예약 확정 */
.badge-gray { --bgcolor:#EAEAEA; --color:#4E4E4E; --icon:#4E4E4E; } /* 여행 완료 */
.badge-red { --bgcolor:#FFD6D6; --color:#ED1B23; --icon:#ED1B23; } /* 예약 취소 */
.badge-purple { --bgcolor:#DCE0F2; --color:#3C4A76; --icon:#3C4A76; } /* 환불 완료 */

.cell-thumb { display:flex; align-items:center; gap:10px; }
.cell-thumb > .thumb { position:relative; margin:15px 0 15px 24px; width:100px; height:67px; min-width:100px; min-height:67px; position:relative; aspect-ratio:1 / 1; background-image:linear-gradient(45deg, #f3f3f3 25%, transparent 25%), linear-gradient(-45deg, #f3f3f3 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #f3f3f3 75%), linear-gradient(-45deg, transparent 75%, #f3f3f3 75%); background-size:16px 16px; background-position:0 0, 0 8px, 8px -8px, -8px 0; overflow:hidden; }
.cell-thumb .title { display:block; flex:1 1 auto; min-width:0; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }

input:disabled {background:#F3F3F3; border: 1px solid #D4D4D4; color:#969696; }


.page-toolbar-actions .jw-select { --select-height:44px; }
.page-toolbar-actions .jw-selected { border-radius:12px; }
.page-toolbar-actions.off .jw-selected { background:#EAEAEA;  }

.jw-tableA.booking-detail .jw-select { --select-height:46px; }
.jw-tableA.booking-detail .cell { padding:10px 12px; }
.jw-tableA.booking-detail .cell.disabled .jw-selected { background:#D4D4D4; }

.jw-tableA.booking-detail .jw-select { width:100%; }
.jw-tableA.booking-detail .jw-selected { border-radius:12px; }
.jw-tableA.booking-detail .form-control { width:100%; height:46px; border-radius:12px; border: 1px solid #D4D4D4; }
.jw-tableA.booking-detail .field-row { width:216px; height:46px; justify-content:space-between; font-size:14px; color:#121212; border-radius:12px; border: 1px solid #D4D4D4; padding:0 12px; }
.jw-tableA.booking-detail .field-row i { position:relative; width:1px; height:20px; border-left: 1px solid #D4D4D4;}
.jw-tableA.booking-detail td { text-align:center; }


.attach-list .cell .field-row { width:492px; height:46px; justify-content:space-between; padding:0 12px; }

.overview-card-grid { display:grid; grid-template-columns:repeat(2, 1fr); gap:40px; }
.overview-card-grid .card { height:216px;  background:#fff; display:grid; grid-template-columns:repeat(2, 1fr); padding:32px 24px; border-radius:24px; }
.overview-card-grid .card > div:fisrt-child { display:flex; flex-direction:column; justify-content:space-between; }
.overview-card-grid .card > div:last-child { display:flex; justify-content:center; align-items:center; }
.overview-card-grid .card-link { margin-top:64px; display:flex; justify-content:center; align-items:center; font-size:18px; font-weight:medium; color:#2D7EFF; background:#F7FAFF; width:156px; height:52px; border-radius:26px; }

.status-list { width:100%; }
.dot { display:inline-block; width:16px; height:16px; border-radius:50%; margin-right:8px; vertical-align:middle; }
.dot-blue { background:#1d4ed8; }
.dot-green { background:#10b981; }

.status-item { display:flex; align-items:center; justify-content:space-between; padding:8px 0; }
.status-item .label { flex:1; margin-left:6px; color:#363636; font-size:20px; font-weight:bold; }
.status-item .count { font-weight:medium; font-size:32px; color:#121212; }

.card-panel .card-title { font-size:24px; font-weight:bold; color:#121212; }
.card-panel .card-subtitle { font-size:44px; font-weight:bold; color:#121212; }

.page-date { font-size:24px; font-weight:bold; }

.jw-tableA.typeB { border:1px solid transparent; }
.jw-tableA.typeB thead th { height:54px; background:transparent; color:#121212; }
.jw-tableA.typeB thead th { border-top:1px solid transparent; border-bottom:1px solid #D4D4D4; }
.jw-tableA.typeB thead th:first-child { border-left:1px solid transparent; }
.jw-tableA.typeB thead th:last-child { border-right:1px solid transparent; }

